doctype html
html
  head
    title= 'Abuela de Donna'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href='../images/favicon.png' type='image/png')
  body
    header
      span#restaurant Spanish Restaurant
      span#restname Abuela de Donna
      span#working-hours 10:00-22:00
    block content
    footer
      span#address Madrid, Pupkin street 35
     
      a#home(href="/")        Home page  